@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap");
/*font-family: 'Lato', sans-serif;*/
/*selector universal*/
* {
  margin: 0;
  padding: 0;
}

html {
  /*Con esto las tipografías del documento medirán 10px, de esta
  forma es más fácil usar los rem. Rem se adapat mejor a los dispositivos*/
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}
html a {
  text-decoration: none;
}

/*header - main*/
.navPropio {
  width: 100%;
  align-items: center;
}
.navPropio .menuContenedor img {
  width: 250px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.navPropio .menuContenedor .menu {
  justify-content: flex-end;
}
.navPropio .menuContenedor .menu .navbar-nav .nav-link {
  padding-left: 2.6rem;
}
.navPropio .menuContenedor .menu .navbar-nav .dropdown .dropdown-toggle::after {
  border-top: 5px solid;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
.navPropio .menuContenedor .menu .navbar-nav .dropdown .menuDesplegable {
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 10px 10px;
}
.navPropio .menuContenedor .menu .navbar-nav .dropdown .menuDesplegable li a {
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.navPropio .menuContenedor .menu .navbar-nav .dropdown .menuDesplegable .dropdown-item {
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}
.navPropio .menuContenedor .menu .navbar-nav .dropdown .menuDesplegable .dropdown-item:hover {
  background-color: #e6f7ff;
}
.navPropio .menuContenedor .menu .navbar-nav .dropdown .menuDesplegable .dropdown-item:active {
  background-color: #E5007E;
  color: #fff;
}
.navPropio .menuContenedor .menu li a {
  font-weight: 400;
  color: black;
  font-size: 2rem;
}
.navPropio .menuContenedor .menu li a:hover {
  color: #E5007E;
}

/*footer*/
/*icono whatsapp*/
.iconoFlotante img {
  width: 70px;
  position: fixed;
  top: 620px;
  z-index: 1;
  right: 15px;
}

/*información footer*/
.footerContainer {
  background-color: #009EE2;
  display: grid;
  grid-template-columns: repeat(2, 30%) 20%;
  grid-template-rows: repeat(2, 90px);
  justify-content: center;
  align-content: center;
  row-gap: 10px;
  column-gap: 10px;
}
.footerContainer .menuFooter {
  grid-column: 1/2;
  grid-row: 1/span 3;
  align-self: center;
}
.footerContainer .menuFooter ul {
  padding-left: 1rem;
  list-style: none;
}
.footerContainer .menuFooter a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
}
.footerContainer .menuFooter a:hover {
  color: black;
}
.footerContainer .redesFooter {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: end;
  justify-self: center;
}
.footerContainer .footerCopy {
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: start;
  justify-self: center;
}
.footerContainer .footerCopy p {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}
.footerContainer img {
  width: 40px;
}

/*banner index*/
.bannerCarrusel .carousel-indicators [data-bs-target] {
  position: relative;
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 5px;
  margin-left: 15px;
  margin-bottom: 15px;
}
.bannerCarrusel .bannerIndex {
  height: 610px;
  margin-top: 120px;
}
.bannerCarrusel .bannerIndex .carousel-caption {
  display: flex;
  align-content: start;
  padding-bottom: 80px;
}
.bannerCarrusel .bannerIndex .carousel-caption .textoResaltado {
  font-weight: 400;
  font-size: 2.8rem;
  color: #fff;
  text-shadow: 2px 1px 5px rgb(58, 58, 58);
}
.bannerCarrusel .bannerIndex .carousel-caption h1 {
  text-transform: uppercase;
  font-size: 4rem;
  line-height: 40px;
  color: #fff;
  text-shadow: 2px 1px 5px rgb(58, 58, 58);
}
.bannerCarrusel .bannerIndex .carousel-caption h2 {
  text-transform: uppercase;
  font-size: 4rem;
  line-height: 40px;
  color: #fff;
  text-shadow: 2px 1px 5px rgb(58, 58, 58);
}
.bannerCarrusel .bannerIndex .carousel-caption .botonCotizar {
  background-color: #009EE2;
  border: 2px solid transparent;
  color: #fff;
  padding: 15px 32px;
  font-size: 16px;
  margin: 4px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  display: block;
  margin-top: 10px;
  z-index: 2;
}
.bannerCarrusel .bannerIndex .carousel-caption .botonCotizar:hover {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}
.bannerCarrusel .carousel-control-prev, .bannerCarrusel .carousel-control-next {
  height: 200px;
  margin-top: 305px;
}
.bannerCarrusel .carousel-control-prev .carousel-control-prev-icon, .bannerCarrusel .carousel-control-next .carousel-control-prev-icon {
  background-image: url(../recursos/icono-left.png);
  height: 30px;
  width: 30px;
  opacity: 0.5;
}
.bannerCarrusel .carousel-control-prev .carousel-control-prev-icon:hover, .bannerCarrusel .carousel-control-next .carousel-control-prev-icon:hover {
  background-image: url(../recursos/icono-left.png);
  height: 30px;
  width: 30px;
  opacity: 1;
}
.bannerCarrusel .carousel-control-next .carousel-control-next-icon {
  background-image: url(../recursos/icono-right.png);
  height: 30px;
  width: 30px;
  opacity: 0.5;
}
.bannerCarrusel .carousel-control-next .carousel-control-next-icon:hover {
  background-image: url(../recursos/icono-right.png);
  height: 30px;
  width: 30px;
  opacity: 1;
}
.bannerCarrusel .anclaInvisible {
  position: absolute;
  top: 600px;
  visibility: hidden;
}

/*conócenos*/
.sectionConocenos .divConocenos {
  margin-top: 20px;
}
.sectionConocenos .divConocenos h2 {
  font-size: 3rem;
  text-transform: uppercase;
}
.sectionConocenos .divConocenos p {
  font-size: 1.7rem;
  white-space: pre-wrap;
}
.sectionConocenos .divConocenos .botonCotizar2 {
  background-color: #009EE2;
  border: 2px solid transparent;
  color: #fff;
  padding: 15px 32px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}
.sectionConocenos .divConocenos .botonCotizar2:hover {
  background-color: transparent;
  border: 2px solid #E5007E;
  color: #E5007E;
}
.sectionConocenos img {
  width: 80%;
}

/*portafolio*/
.trends {
  margin-top: 50px;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #f0f9fd;
}
.trends .bbb_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.trends .bbb_container {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-right: 40px;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.trends .bbb_container h2 {
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 5px;
}
.trends .bbb_container p {
  font-size: 1.5rem;
}
.trends .bbb_container .bbb_slider_nav {
  display: flex;
  flex-direction: row;
}
.trends .bbb_container .bbb_slider_nav .bbb_nav {
  display: flex;
  align-items: end;
  justify-content: center;
  border-radius: 50%;
  margin-right: 16px;
  border: none;
  background-color: transparent;
}
.trends .bbb_container .bbb_slider_nav .bbb_nav img {
  width: 36px !important;
  height: 36px !important;
}
.trends .bbb_item {
  background: #FFFFFF;
  padding: 3px;
  margin-top: 35px;
}
.trends .bbb_item .bbb_image img {
  width: 100%;
}

/*servicios*/
.sectServicios {
  display: grid;
  grid-template-columns: 40% 10% 40% 10%;
  grid-template-rows: repeat(4, 350px);
  margin-top: 120px;
}
.sectServicios .imgVasosP {
  grid-column: 1/span 3;
  grid-row: 1/span 3;
  background-image: url(../recursos/servicios-vasos-plasticos.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.3s ease;
}
.sectServicios .textVasosP {
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: center;
  margin-left: 50px;
}
.sectServicios .textVasosP .btn-primary {
  --bs-btn-bg: #E5007E;
  --bs-btn-border-color: #E5007E;
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: #fff;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #E5007E;
  --bs-btn-active-border-color: #E5007E;
}
.sectServicios .textVasosP .btn-primary .iconoVerMas {
  width: 16px;
  color: #fff;
}
.sectServicios .textVasosP .botonVer {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  padding-bottom: 0px;
}
.sectServicios .textVasosP h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #fff;
}
.sectServicios .textVasosP .descripcionServic .card-body {
  background-color: transparent;
}
.sectServicios .textVasosP .descripcionServic .card-body p {
  font-size: 1.7rem;
  color: #fff;
}
.sectServicios .imgEnvasesP {
  grid-column: 3/span 5;
  grid-row: 1/span 3;
  background-image: url(../recursos/servicios-envases.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.sectServicios .textEnvasesP {
  grid-column: 3/4;
  grid-row: 2/3;
  align-self: center;
  margin-left: 50px;
}
.sectServicios .textEnvasesP .btn-primary {
  --bs-btn-bg: #E5007E;
  --bs-btn-border-color: #E5007E;
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: #fff;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #E5007E;
  --bs-btn-active-border-color: #E5007E;
}
.sectServicios .textEnvasesP .btn-primary .iconoVerMas {
  width: 16px;
  color: #fff;
}
.sectServicios .textEnvasesP .botonVer {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  padding-bottom: 0px;
}
.sectServicios .textEnvasesP h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #fff;
}
.sectServicios .textEnvasesP .descripcionServic .card-body {
  background-color: transparent;
}
.sectServicios .textEnvasesP .descripcionServic .card-body p {
  font-size: 1.7rem;
  color: #fff;
}
.sectServicios .imgVasosC {
  grid-column: 1/span 3;
  grid-row: 3/span 5;
  background-image: url(../recursos/servicios-vasos-carton.jpg);
  background-size: 150%;
  background-position: center;
  background-repeat: no-repeat;
}
.sectServicios .textVasosC {
  grid-column: 1/2;
  grid-row: 4/5;
  align-self: center;
  margin-left: 50px;
}
.sectServicios .textVasosC .btn-primary {
  --bs-btn-bg: #E5007E;
  --bs-btn-border-color: #E5007E;
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: #fff;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #E5007E;
  --bs-btn-active-border-color: #E5007E;
}
.sectServicios .textVasosC .btn-primary .iconoVerMas {
  width: 16px;
  color: #fff;
}
.sectServicios .textVasosC .botonVer {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  padding-bottom: 0px;
}
.sectServicios .textVasosC h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #fff;
}
.sectServicios .textVasosC .descripcionServic .card-body {
  background-color: transparent;
}
.sectServicios .textVasosC .descripcionServic .card-body p {
  font-size: 1.7rem;
  color: #fff;
}
.sectServicios .imgBolsas {
  grid-column: 3/span 5;
  grid-row: 3/span 5;
  background-image: url(../recursos/servicios-bolsas-tnt.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.sectServicios .textBolsas {
  grid-column: 3/4;
  grid-row: 4/5;
  align-self: center;
  margin-left: 50px;
}
.sectServicios .textBolsas .btn-primary {
  --bs-btn-bg: #E5007E;
  --bs-btn-border-color: #E5007E;
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: #fff;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #E5007E;
  --bs-btn-active-border-color: #E5007E;
}
.sectServicios .textBolsas .btn-primary .iconoVerMas {
  width: 16px;
  color: #fff;
}
.sectServicios .textBolsas .botonVer {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  padding-bottom: 0px;
}
.sectServicios .textBolsas h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #fff;
}
.sectServicios .textBolsas .descripcionServic .card-body {
  background-color: transparent;
}
.sectServicios .textBolsas .descripcionServic .card-body p {
  font-size: 1.7rem;
  color: #fff;
}

.sectCotizarCatalogo {
  margin-top: 120px;
}
.sectCotizarCatalogo .imgCotizarCatalogo img {
  width: 50%;
}
.sectCotizarCatalogo .divCotizarCatalogo1 h2 {
  text-transform: uppercase;
  font-size: 2.5rem;
}
.sectCotizarCatalogo .divCotizarCatalogo1 p {
  font-size: 2rem;
  margin-top: 30px;
}
.sectCotizarCatalogo .divCotizarCatalogo1 .materialCatalogo {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
}
.sectCotizarCatalogo .divCotizarCatalogo1 .materialCatalogo .form-check-input:checked {
  background-color: #E5007E;
  border-color: #E5007E;
  box-shadow: none;
}
.sectCotizarCatalogo .divCotizarCatalogo1 .materialCatalogo .form-check-input:active {
  background-color: #ffbde1;
  border-color: #ffbde1;
  box-shadow: none;
}
.sectCotizarCatalogo .divCotizarCatalogo1 .form-check-inline {
  margin-right: 3rem;
}
.sectCotizarCatalogo .divCotizarCatalogo1 .tamañoCatalogo {
  width: 320px;
}
.sectCotizarCatalogo .divCotizarCatalogo1 .tamañoCatalogo .form-select {
  text-transform: uppercase;
  font-size: 1.5rem;
}
.sectCotizarCatalogo .divCotizarCatalogo1 .tamañoCatalogo .form-label {
  font-size: 2rem;
  margin-top: 30px;
}
.sectCotizarCatalogo .divCotizarCatalogo1 .tamañoCatalogo .form-label .form-text {
  font-size: 1.4rem;
}

/*cotizar personalizado*/
.sectCotizarPersonalizado {
  display: grid;
  grid-template-columns: 15% repeat(2, 35%) 15%;
  grid-template-rows: 150px 500px 150px 50px;
}
.sectCotizarPersonalizado .bannerCotizarPersonalizado {
  grid-column: 1/span 4;
  grid-row: 1/span 5;
  background-image: url(../recursos/banner-cotizar-personalizado.jpg);
  background-size: cover;
}
.sectCotizarPersonalizado .fondoDescripcion {
  grid-column: 2/4;
  grid-row: 2/3;
  background-color: #fff;
  opacity: 50%;
}
.sectCotizarPersonalizado .divDescripcion {
  grid-column: 2/4;
  grid-row: 2/3;
  width: 40%;
  z-index: 1;
}
.sectCotizarPersonalizado .formularioPersonalizado {
  grid-column: 3/4;
  grid-row: 2/span 2;
  background-color: #009EE2;
  z-index: 1;
  color: #fff;
}
.sectCotizarPersonalizado .formularioPersonalizado h2 {
  font-size: 3rem;
  text-transform: uppercase;
}

/*Contáctanos*/
.divBannerConoc {
  background-image: url(../recursos/banner-contacto.jpg);
  background-position: cover;
  background-size: 100%;
  height: 700px;
  margin-top: 120px;
}
.divBannerConoc .divDatosConoc {
  width: 500px;
  font-size: 1.7rem;
  color: #fff;
  font-weight: 700;
  line-height: 1.9rem;
}
.divBannerConoc .divDatosConoc svg {
  margin-right: 10px;
}

/*responsive*/
@media only screen and (max-width: 479px) {
  /*Banner index*/
  .bannerCarrusel .bannerIndex {
    margin-top: 120px;
    height: 100%;
  }
  .bannerCarrusel .bannerIndex img {
    object-fit: cover;
    height: 400px;
  }
  .bannerCarrusel .bannerIndex .carousel-caption {
    padding-top: 0;
    text-align: start;
    margin-top: -200px;
    width: 100px;
    padding-bottom: 50px;
  }
  .bannerCarrusel .bannerIndex .carousel-caption h1 {
    font-size: 2.5rem !important;
    line-height: 2.6rem;
  }
  .bannerCarrusel .bannerIndex .carousel-caption h2 {
    font-size: 2.5rem !important;
    line-height: 2.6rem;
  }
  .bannerCarrusel .bannerIndex .carousel-caption .textoResaltado {
    font-size: 1.8rem;
    width: 300px;
  }
  .bannerCarrusel .carousel-control-prev, .bannerCarrusel .carousel-control-next {
    margin-top: 200px;
  }
  .bannerCarrusel .carousel-control-next {
    margin-top: 200px;
  }
  .bannerCarrusel .anclaInvisible {
    top: 360px;
  }
  /*Conócenos*/
  .sectionConocenos {
    margin-top: 20px;
  }
  .sectionConocenos .divConocenos img {
    display: none;
  }
  /*Portafolio*/
  .bbb_container {
    top: 0;
  }
  /*Footer*/
  /*icono whatsapp*/
  .iconoFlotante img {
    top: 550px;
  }
  /*información footer*/
  .footerContainer {
    grid-template-columns: 60%;
  }
  .footerContainer .menuFooter {
    display: none;
  }
  .footerContainer .redesFooter {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: end;
    justify-self: center;
  }
  .footerContainer .footerCopy {
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: start;
    justify-self: center;
  }
  /*Servicios*/
  .sectServicios {
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(8, 200px);
    margin-top: 110px;
  }
  .sectServicios .imgVasosP {
    grid-column: 1/span 3;
    grid-row: 1/span 3;
    background-position: top;
  }
  .sectServicios .textVasosP {
    grid-column: 1/span 3;
    grid-row: 2/3;
    padding-bottom: 50px;
  }
  .sectServicios .textVasosP p {
    font-size: 1.3rem;
  }
  .sectServicios .textVasosP h2 {
    font-size: 2rem !important;
  }
  .sectServicios .imgEnvasesP {
    grid-column: 1/span 3;
    grid-row: 3/span 5;
    background-size: 100%;
    background-position: top;
  }
  .sectServicios .textEnvasesP {
    grid-column: 1/span 3;
    grid-row: 4/5;
    padding-bottom: 50px;
  }
  .sectServicios .textEnvasesP p {
    font-size: 1.3rem;
  }
  .sectServicios .textEnvasesP h2 {
    font-size: 2rem !important;
  }
  .sectServicios .imgVasosC {
    grid-column: 1/span 3;
    grid-row: 5/span 7;
    background-size: 180%;
    background-position: top;
  }
  .sectServicios .textVasosC {
    grid-column: 1/span 3;
    grid-row: 6/7;
    padding-bottom: 50px;
  }
  .sectServicios .textVasosC p {
    font-size: 1.3rem;
  }
  .sectServicios .textVasosC h2 {
    font-size: 2rem !important;
  }
  .sectServicios .imgBolsas {
    grid-column: 1/span 3;
    grid-row: 7/span 9;
    background-position: center;
  }
  .sectServicios .textBolsas {
    grid-column: 1/span 3;
    grid-row: 8/9;
    padding-bottom: 50px;
  }
  .sectServicios .textBolsas p {
    font-size: 1.3rem;
  }
  .sectServicios .textBolsas h2 {
    font-size: 2rem !important;
  }
}
@media only screen and (min-width: 479px) and (max-width: 767px) {
  /*Banner index*/
  .bannerCarrusel .bannerIndex {
    margin-top: 90px;
    height: 100%;
  }
  .bannerCarrusel .bannerIndex .carousel-caption {
    position: relative;
    padding-top: 0;
    text-align: start;
    margin-top: -210px;
    width: 400px;
    height: 200px;
  }
  .bannerCarrusel .bannerIndex .carousel-caption h1 {
    font-size: 3rem;
    line-height: 3.3rem;
  }
  .bannerCarrusel .bannerIndex .carousel-caption h2 {
    font-size: 3rem;
    line-height: 3.3rem;
  }
  .bannerCarrusel .bannerIndex .carousel-caption .textoResaltado {
    font-size: 2rem;
  }
  .bannerCarrusel .carousel-control-prev, .bannerCarrusel .carousel-control-next {
    margin-top: 150px;
  }
  .bannerCarrusel .carousel-control-next {
    margin-top: 150px;
  }
  .bannerCarrusel .anclaInvisible {
    top: 360px;
  }
  /*Conócenos*/
  .sectionConocenos {
    margin-top: 20px;
  }
  .sectionConocenos .divConocenos img {
    display: none;
  }
  /*Portafolio*/
  .bbb_container {
    top: 0;
  }
  /*Footer*/
  /*icono whatsapp*/
  .iconoFlotante img {
    top: 550px;
  }
  .footerContainer {
    grid-template-columns: 25% 60% 10%;
  }
  /*Servicios*/
  .sectServicios {
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(8, 200px);
    margin-top: 110px;
  }
  .sectServicios .imgVasosP {
    grid-column: 1/span 3;
    grid-row: 1/span 3;
    background-position: top;
  }
  .sectServicios .textVasosP {
    grid-column: 1/span 3;
    grid-row: 2/3;
    padding-bottom: 50px;
  }
  .sectServicios .textVasosP p {
    font-size: 1.3rem;
  }
  .sectServicios .textVasosP h2 {
    font-size: 2rem !important;
  }
  .sectServicios .imgEnvasesP {
    grid-column: 1/span 3;
    grid-row: 3/span 5;
    background-size: 100%;
    background-position: top;
  }
  .sectServicios .textEnvasesP {
    grid-column: 1/span 3;
    grid-row: 4/5;
    padding-bottom: 50px;
  }
  .sectServicios .textEnvasesP p {
    font-size: 1.3rem;
  }
  .sectServicios .textEnvasesP h2 {
    font-size: 2rem !important;
  }
  .sectServicios .imgVasosC {
    grid-column: 1/span 3;
    grid-row: 5/span 7;
    background-size: 180%;
    background-position: top;
  }
  .sectServicios .textVasosC {
    grid-column: 1/span 3;
    grid-row: 6/7;
    padding-bottom: 50px;
  }
  .sectServicios .textVasosC p {
    font-size: 1.3rem;
  }
  .sectServicios .textVasosC h2 {
    font-size: 2rem !important;
  }
  .sectServicios .imgBolsas {
    grid-column: 1/span 3;
    grid-row: 7/span 9;
    background-position: center;
  }
  .sectServicios .textBolsas {
    grid-column: 1/span 3;
    grid-row: 8/9;
    padding-bottom: 50px;
  }
  .sectServicios .textBolsas p {
    font-size: 1.3rem;
  }
  .sectServicios .textBolsas h2 {
    font-size: 2rem !important;
  }
}
@media only screen and (min-width: 767px) and (max-width: 992px) {
  .bannerCarrusel .bannerIndex {
    margin-top: 120px;
    height: 100%;
  }
  .bannerCarrusel .bannerIndex .carousel-caption {
    position: relative;
    padding-top: 0;
    text-align: start;
    margin-top: -210px;
    width: 700px;
    height: 200px;
  }
  .bannerCarrusel .carousel-control-prev, .bannerCarrusel .carousel-control-next {
    margin-top: 260px;
  }
  .bannerCarrusel .carousel-control-next {
    margin-top: 260px;
  }
  .bannerCarrusel .anclaInvisible {
    top: 520px;
  }
  /*conócenos*/
  .divConocenos img {
    display: none;
  }
  /*Footer*/
  /*icono whatsapp*/
  .iconoFlotante img {
    top: 550px;
  }
  /*Servicios*/
  .sectServicios {
    grid-template-rows: repeat(4, 200px);
    margin-top: 120px;
  }
  .sectServicios p {
    font-size: 1.5rem;
  }
  .sectServicios h2 {
    font-size: 2rem !important;
  }
  .sectServicios .textVasosP {
    margin-left: 25px;
    padding-bottom: 65px;
  }
  .sectServicios .textEnvasesP {
    margin-left: 25px;
    padding-bottom: 65px;
  }
  .sectServicios .textVasosC {
    margin-left: 25px;
    padding-bottom: 65px;
  }
  .sectServicios .textBolsas {
    margin-left: 25px;
    padding-bottom: 65px;
  }
}
@media only screen and (min-width: 993px) {
  /*Footer*/
  /*icono whatsapp*/
  .iconoFlotante img {
    top: 550px;
  }
  /*Banner index*/
  .bannerCarrusel .bannerIndex {
    margin-top: 120px;
    height: 600px;
  }
  .bannerCarrusel .bannerIndex .carousel-caption {
    width: 800px;
  }
}

/*# sourceMappingURL=estilosSass.css.map */
