@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap");
/*font-family: 'Lato', sans-serif;*/
/*selector universal*/
* {
  margin: 0;
  padding: 0;
}

html {
  /*Con esto las tipografías del documento medirán 10px, de esta
  forma es más fácil usar los rem. Rem se adapat mejor a los dispositivos*/
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

/*header - main*/
.navPropio {
  width: 100%;
  align-items: center;
}
.navPropio .menuContenedor img {
  width: 250px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.navPropio .menuContenedor .menu {
  justify-content: flex-end;
}
.navPropio .menuContenedor .menu .navbar-nav .nav-link {
  padding-left: 2.6rem;
}
.navPropio .menuContenedor .menu .navbar-nav .dropdown .dropdown-toggle::after {
  border-top: 5px solid;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
.navPropio .menuContenedor .menu .navbar-nav .dropdown .menuDesplegable {
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 10px 10px;
}
.navPropio .menuContenedor .menu .navbar-nav .dropdown .menuDesplegable li a {
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.navPropio .menuContenedor .menu .navbar-nav .dropdown .menuDesplegable .dropdown-item {
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}
.navPropio .menuContenedor .menu .navbar-nav .dropdown .menuDesplegable .dropdown-item:hover {
  background-color: #e6f7ff;
}
.navPropio .menuContenedor .menu .navbar-nav .dropdown .menuDesplegable .dropdown-item:active {
  background-color: #E5007E;
  color: #fff;
}
.navPropio .menuContenedor .menu li a {
  font-weight: 400;
  color: black;
  font-size: 2rem;
}
.navPropio .menuContenedor .menu li a:hover {
  color: #E5007E;
}

/*footer*/
/*icono whatsapp*/
.iconoFlotante img {
  width: 70px;
  position: fixed;
  top: 620px;
  z-index: 1;
  right: 15px;
}

/*información footer*/
.footerContainer {
  background-color: #009EE2;
  display: grid;
  grid-template-columns: repeat(2, 30%) 20%;
  grid-template-rows: repeat(2, 90px);
  justify-content: center;
  align-content: center;
  row-gap: 10px;
  column-gap: 10px;
}
.footerContainer .menuFooter {
  grid-column: 1/2;
  grid-row: 1/span 3;
  align-self: center;
}
.footerContainer .menuFooter ul {
  padding-left: 1rem;
  list-style: none;
}
.footerContainer .menuFooter a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
}
.footerContainer .menuFooter a:hover {
  color: black;
}
.footerContainer .redesFooter {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: end;
  justify-self: center;
}
.footerContainer .footerCopy {
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: start;
  justify-self: center;
}
.footerContainer .footerCopy p {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}
.footerContainer img {
  width: 40px;
}

/*banner index*/
.bannerCarrusel .carousel-indicators [data-bs-target] {
  position: relative;
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 5px;
  margin-left: 15px;
  margin-bottom: 15px;
}
.bannerCarrusel .bannerIndex {
  height: 610px;
  margin-top: 120px;
}
.bannerCarrusel .bannerIndex .carousel-caption {
  display: flex;
  align-content: start;
  padding-bottom: 80px;
}
.bannerCarrusel .bannerIndex .carousel-caption .textoResaltado {
  font-weight: 400;
  font-size: 2.8rem;
  color: #fff;
  text-shadow: 2px 1px 5px rgb(58, 58, 58);
}
.bannerCarrusel .bannerIndex .carousel-caption h1, .bannerCarrusel .bannerIndex .carousel-caption h2 {
  text-transform: uppercase;
  font-size: 4rem;
  line-height: 40px;
  color: #fff;
  text-shadow: 2px 1px 5px rgb(58, 58, 58);
}
.bannerCarrusel .bannerIndex .carousel-caption .botonCotizar {
  background-color: #009EE2;
  border: 2px solid transparent;
  color: #fff;
  padding: 15px 32px;
  font-size: 16px;
  margin: 4px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  display: block;
  margin-top: 10px;
  z-index: 2;
}
.bannerCarrusel .bannerIndex .carousel-caption .botonCotizar:hover {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}
.bannerCarrusel .carousel-control-prev, .bannerCarrusel .carousel-control-next {
  height: 200px;
  margin-top: 305px;
}
.bannerCarrusel .carousel-control-prev .carousel-control-prev-icon, .bannerCarrusel .carousel-control-next .carousel-control-prev-icon {
  background-image: url(../recursos/icono-left.png);
  height: 30px;
  width: 30px;
  opacity: 0.5;
}
.bannerCarrusel .carousel-control-prev .carousel-control-prev-icon:hover, .bannerCarrusel .carousel-control-next .carousel-control-prev-icon:hover {
  background-image: url(../recursos/icono-left.png);
  height: 30px;
  width: 30px;
  opacity: 1;
}
.bannerCarrusel .carousel-control-next .carousel-control-next-icon {
  background-image: url(../recursos/icono-right.png);
  height: 30px;
  width: 30px;
  opacity: 0.5;
}
.bannerCarrusel .carousel-control-next .carousel-control-next-icon:hover {
  background-image: url(../recursos/icono-right.png);
  height: 30px;
  width: 30px;
  opacity: 1;
}
.bannerCarrusel .anclaInvisible {
  position: absolute;
  top: 600px;
  visibility: hidden;
}

/*conócenos*/
.sectionConocenos .divConocenos {
  margin-top: 20px;
}
.sectionConocenos .divConocenos h2 {
  font-size: 3rem;
  text-transform: uppercase;
}
.sectionConocenos .divConocenos p {
  font-size: 1.7rem;
  white-space: pre-wrap;
}
.sectionConocenos .divConocenos .botonCotizar2 {
  background-color: #009EE2;
  border: 2px solid transparent;
  color: #fff;
  padding: 15px 32px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}
.sectionConocenos .divConocenos .botonCotizar2:hover {
  background-color: transparent;
  border: 2px solid #E5007E;
  color: #E5007E;
}
.sectionConocenos img {
  width: 80%;
}

/*portafolio*/
.trends {
  margin-top: 50px;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #f0f9fd;
}
.trends .bbb_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.trends .bbb_container {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-right: 40px;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.trends .bbb_container h2 {
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 5px;
}
.trends .bbb_container p {
  font-size: 1.5rem;
}
.trends .bbb_container .bbb_slider_nav {
  display: flex;
  flex-direction: row;
}
.trends .bbb_container .bbb_slider_nav .bbb_nav {
  display: flex;
  align-items: end;
  justify-content: center;
  border-radius: 50%;
  margin-right: 16px;
  border: none;
  background-color: transparent;
}
.trends .bbb_container .bbb_slider_nav .bbb_nav img {
  width: 36px !important;
  height: 36px !important;
}
.trends .bbb_item {
  background: #FFFFFF;
  padding: 3px;
}
.trends .bbb_item .bbb_image img {
  width: 100%;
}

/*servicios*/
.sectServicios {
  display: grid;
  grid-template-columns: 40% 10% 40% 10%;
  grid-template-rows: repeat(4, 350px);
  margin-top: 120px;
}
.sectServicios .imgVasosP {
  grid-column: 1/span 3;
  grid-row: 1/span 3;
  background-image: url(../recursos/servicios-vasos-plasticos.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.3s ease;
}
.sectServicios .textVasosP {
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: center;
  margin-left: 50px;
}
.sectServicios .textVasosP .btn-primary {
  --bs-btn-bg: #E5007E;
  --bs-btn-border-color: #E5007E;
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: #fff;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #E5007E;
  --bs-btn-active-border-color: #E5007E;
}
.sectServicios .textVasosP .btn-primary .iconoVerMas {
  width: 16px;
  color: #fff;
}
.sectServicios .textVasosP .botonVer {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  padding-bottom: 0px;
}
.sectServicios .textVasosP h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #fff;
}
.sectServicios .textVasosP .descripcionServic .card-body {
  background-color: transparent;
}
.sectServicios .textVasosP .descripcionServic .card-body p {
  font-size: 1.7rem;
  color: #fff;
}
.sectServicios .imgEnvasesP {
  grid-column: 3/span 5;
  grid-row: 1/span 3;
  background-image: url(../recursos/servicios-envases.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.sectServicios .textEnvasesP {
  grid-column: 3/4;
  grid-row: 2/3;
  align-self: center;
  margin-left: 50px;
}
.sectServicios .textEnvasesP .btn-primary {
  --bs-btn-bg: #E5007E;
  --bs-btn-border-color: #E5007E;
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: #fff;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #E5007E;
  --bs-btn-active-border-color: #E5007E;
}
.sectServicios .textEnvasesP .btn-primary .iconoVerMas {
  width: 16px;
  color: #fff;
}
.sectServicios .textEnvasesP .botonVer {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  padding-bottom: 0px;
}
.sectServicios .textEnvasesP h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #fff;
}
.sectServicios .textEnvasesP .descripcionServic .card-body {
  background-color: transparent;
}
.sectServicios .textEnvasesP .descripcionServic .card-body p {
  font-size: 1.7rem;
  color: #fff;
}
.sectServicios .imgVasosC {
  grid-column: 1/span 3;
  grid-row: 3/span 5;
  background-image: url(../recursos/servicios-vasos-carton.jpg);
  background-size: 150%;
  background-position: center;
  background-repeat: no-repeat;
}
.sectServicios .textVasosC {
  grid-column: 1/2;
  grid-row: 4/5;
  align-self: center;
  margin-left: 50px;
}
.sectServicios .textVasosC .btn-primary {
  --bs-btn-bg: #E5007E;
  --bs-btn-border-color: #E5007E;
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: #fff;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #E5007E;
  --bs-btn-active-border-color: #E5007E;
}
.sectServicios .textVasosC .btn-primary .iconoVerMas {
  width: 16px;
  color: #fff;
}
.sectServicios .textVasosC .botonVer {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  padding-bottom: 0px;
}
.sectServicios .textVasosC h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #fff;
}
.sectServicios .textVasosC .descripcionServic .card-body {
  background-color: transparent;
}
.sectServicios .textVasosC .descripcionServic .card-body p {
  font-size: 1.7rem;
  color: #fff;
}
.sectServicios .imgBolsas {
  grid-column: 3/span 5;
  grid-row: 3/span 5;
  background-image: url(../recursos/servicios-bolsas-tnt.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.sectServicios .textBolsas {
  grid-column: 3/4;
  grid-row: 4/5;
  align-self: center;
  margin-left: 50px;
}
.sectServicios .textBolsas .btn-primary {
  --bs-btn-bg: #E5007E;
  --bs-btn-border-color: #E5007E;
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: #fff;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #E5007E;
  --bs-btn-active-border-color: #E5007E;
}
.sectServicios .textBolsas .btn-primary .iconoVerMas {
  width: 16px;
  color: #fff;
}
.sectServicios .textBolsas .botonVer {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  padding-bottom: 0px;
}
.sectServicios .textBolsas h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #fff;
}
.sectServicios .textBolsas .descripcionServic .card-body {
  background-color: transparent;
}
.sectServicios .textBolsas .descripcionServic .card-body p {
  font-size: 1.7rem;
  color: #fff;
}

/*# sourceMappingURL=estilosSass.css.map */
