
/*servicios----------------------------------------------*/
.card-body{
    background-color: transparent;
}

.botonVer{
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    padding-bottom: 0px;
}

.sectServicios .btn-primary {
    --bs-btn-bg: #E5007E;
    --bs-btn-border-color: #E5007E;
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: #fff;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #E5007E;
    --bs-btn-active-border-color: #E5007E;
}

.sectServicios{
    display: grid;
    grid-template-columns: 40% 10% 40% 10%;
    grid-template-rows: repeat(4, 350px);
    margin-top: 120px;
}

.sectServicios h2{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #fff;
}

.descripcionServic p{
    font-size: 1.7rem;
    color: #fff;
}

.iconoVerMas{
    width: 16px;
    color:#fff;
}

.textVasosP{
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: center;
    margin-left: 50px;
}

.imgVasosP{
    grid-column: 1/span 3;
    grid-row: 1/span 3;
    background-image: url(recursos/servicios-vasos-plasticos.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease;
}

/* .imgVasosP:hover{
    background-image: url(recursos/servicios-vasos-plasticos-hover.jpg);
    cursor: pointer;
} */

.textEnvasesP{
    grid-column: 3/4;
    grid-row: 2/3;
    align-self: center;
    margin-left: 50px;
}

.imgEnvasesP{
    grid-column: 3/span 5;
    grid-row: 1/span 3;
    background-image: url(recursos/servicios-envases.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* .imgEnvasesP:hover{
    background-image: url(recursos/servicios-envases-hover.jpg);
    cursor: pointer;
} */

.textVasosC{
    grid-column: 1/2;
    grid-row: 4/5;
    align-self: center;
    margin-left: 50px;
}

.imgVasosC{
    grid-column: 1/span 3;
    grid-row: 3/span 5;
    background-image: url(recursos/servicios-vasos-carton.jpg);
    background-size: 150%;
    background-position: center;
    background-repeat: no-repeat;
}

/* .imgVasosC:hover{
    background-image: url(recursos/servicios-vasos-carton-hover.jpg);
    cursor: pointer;
} */

.textBolsas{
    grid-column: 3/4;
    grid-row: 4/5;
    align-self: center;
    margin-left: 50px;
}

.imgBolsas{
    grid-column: 3/span 5;
    grid-row: 3/span 5;
    background-image: url(recursos/servicios-bolsas-tnt.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* .imgBolsas:hover{
    background-image: url(recursos/servicios-bolsas-tnt-hover.jpg);
    cursor: pointer;
} */


/*cotizar*/
.sectCotizar{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 320px 280px;
    justify-content: center;
    row-gap: 20px;
}

.sectCotizar h2{
    font-size: 2.2rem;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.sectCotizar p{
    font-size: 1.7rem;
}

.sectCotizar button{
    margin-top: 20px;
}

.imgCotizar1{
    grid-column: 1/span 3;
    grid-row: 1/2;
    background-image: url(recursos/banner-cotizar.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.cotizarCatalogo{
    grid-column: 1/2;
    grid-row: 2/3;
    width: 80%;
    align-self: start;
    justify-self: center;
}

.cotizarPersonalizado{
    grid-column: 2/3;
    grid-row: 2/3;
    width: 80%;
    align-self: start;
    justify-self: center;
}

/*cotizar catálogo-----------------------------------------*/
.sectCotizarCatalogo{
    margin-top: 120px;
}

.imgCotizarCatalogo img{
    width: 50%;
}

.sectCotizarCatalogo h2{
    text-transform: uppercase;
    font-size: 2.5rem;
}

.sectCotizarCatalogo p{
    font-size: 2rem;
    margin-top: 30px;
}

.materialCatalogo{
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
}

.form-check-input:checked {
    background-color: #E5007E;
    border-color: #E5007E;
    box-shadow: none;
}

.form-check-input:active {
    background-color: #ffbde1;
    border-color: #ffbde1;
    box-shadow: none;
}

.form-check-inline {
    margin-right: 3rem;
}

.form-select{
    text-transform: uppercase;
    font-size: 1.5rem;
}

.tamañoCatalogo{
    width: 320px;
}

.form-label{
    font-size: 2rem;
    margin-top: 30px;
}

.form-text{
    font-size: 1.4rem;
}

/*cotizar personalizado*/
.sectCotizarPersonalizado{
    display: grid;
    grid-template-columns: 15% repeat(2, 35%) 15%;
    grid-template-rows: 150px 500px 150px 50px;
}

.bannerCotizarPersonalizado{
    grid-column: 1/span 4;
    grid-row: 1/span 5;
    background-image: url(recursos/banner-cotizar-personalizado.jpg);
    background-size: cover;
}

.fondoDescripcion{
    grid-column: 2/4;
    grid-row: 2/3;
    background-color: #fff;
    opacity: 50%;
}

.divDescripcion{
    grid-column: 2/4;
    grid-row: 2/3;
    width: 40%;
    z-index: 1;
}

.formularioPersonalizado{
    grid-column: 3/4;
    grid-row: 2/span 2;
    background-color: #009EE2;
    z-index: 1;
    color: #fff;
}

.formularioPersonalizado h2{
    font-size: 3rem;
    text-transform: uppercase;
}

/*Contáctanos*/
.divBannerConoc{
    background-image: url(recursos/banner-contacto.jpg);
    background-position: cover;
    background-size: 100%;
    height: 700px;
    margin-top: 120px;
}

.divDatosConoc svg{
    margin-right: 10px;
}

.divDatosConoc{
    width: 500px;
    font-size: 1.7rem;
    color: #fff;
    font-weight: 700;
    line-height: 1.9rem;
}

/*RESPONSIVE---------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 479px){
    h1, h2{
        font-size: 2.5rem !important;
    }
    
    /*Banner index*/
    .textoResaltado{
        font-size: 1.8rem;
        width: 300px;
    }

    .bannerCarrusel h1, .bannerCarrusel h2{
        line-height: 2.6rem;
    }

    .bannerIndex{
        margin-top: 120px;
        height: 100%;
    }

    .bannerIndex img{
        object-fit: cover;
        height: 400px;
    }
    .carousel-caption{
        padding-top:0;
        text-align: start;
        margin-top: -200px;
        width: 100px;
        padding-bottom: 50px;
    }

    .carousel-control-next, .carousel-control-prev{
        margin-top: 200px;
    }

    .anclaInvisible{
        top: 360px;
    }

    /*Conócenos*/
    .divConocenos img{
        display: none;
    }
    
    .sectionConocenos{
        margin-top: 20px;
    }

    /*Portafolio*/
    .bbb_container {
        top: 0;
    }

    /*Footer*/
    /*icono whatsapp-----------------------------------------------*/
    .iconoFlotante img{
        top: 550px;
    }

    .menuFooter{
        display: none;
    }

    .footerContainer{
        grid-template-columns: 60%;
    }
    .footerContainer .redesFooter{
        grid-column: 1/2;
        grid-row: 1/2;
        align-self: end;
        justify-self: center;
    }
    
    .footerContainer .footerCopy{
        grid-column: 1/2;
        grid-row: 2/3;
        align-self: start;
        justify-self: center;
    }

    /*Servicios*/
    .sectServicios{
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(8, 120px);
        margin-top: 110px;
    }

    .sectServicios p{
        font-size: 1.3rem;
    }
    
    .sectServicios h2{
        font-size: 2rem !important;
    }

    .textVasosP{
        grid-column: 1/span 3;
        grid-row: 2/3;
        padding-bottom: 45px;
    }

    .imgVasosP{
        grid-column: 1/span 3;
        grid-row: 1/span 3;
    }

    .textEnvasesP{
        grid-column: 1/span 3;
        grid-row: 4/5;
        padding-bottom: 45px;
    }
    
    .imgEnvasesP{
        grid-column: 1/span 3;
        grid-row: 3/span 5;
    }

    .textVasosC{
        grid-column: 1/span 3;
        grid-row: 6/7;
        padding-bottom: 45px;
    }
    
    .imgVasosC{
        grid-column: 1/span 3;
        grid-row: 5/span 7;
        background-position: bottom;
    }

    .textBolsas{
        grid-column: 1/span 3;
        grid-row: 8/9;
        padding-bottom: 45px;
    }
    
    .imgBolsas{
        grid-column: 1/span 3;
        grid-row: 7/span 9;
        background-position: center;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    h1, h2{
        font-size: 3rem !important;
    }
    
    /*Banner index*/
    .textoResaltado{
        font-size: 2rem;
    }

    .bannerCarrusel h1, .bannerCarrusel h2{
        line-height: 30px;
    }

    .bannerIndex{
        margin-top: 90px;
        height: 100%;
    }

    .carousel-caption{
        position: relative;
        padding-top:0;
        text-align: start;
        margin-top: -210px;
        width: 400px;
        height: 200px;
    }

    .carousel-control-next, .carousel-control-prev{
        margin-top: 150px;
    }

    .anclaInvisible{
        top: 360px;
    }

    /*Conócenos*/
    .anclaInvisible{
        top: 300px;
    }

    .divConocenos img{
        display: none;
    }
    
    .sectionConocenos{
        margin-top: 20px;
    }

    /*Portafolio*/
    .bbb_container {
        top: 0;
    }

    /*Footer*/
    /*icono whatsapp-----------------------------------------------*/
    .iconoFlotante img{
        top: 550px;
    }

    .footerContainer{
        grid-template-columns: 25% 60% 10%;
    }
    /*Servicios*/
    .sectServicios{
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(8, 120px);
        margin-top: 110px;
    }

    .sectServicios p{
        font-size: 1.3rem;
    }
    
    .sectServicios h2{
        font-size: 2rem !important;
    }

    .textVasosP{
        grid-column: 1/span 3;
        grid-row: 2/3;
        padding-bottom: 45px;
    }

    .imgVasosP{
        grid-column: 1/span 3;
        grid-row: 1/span 3;
    }

    .textEnvasesP{
        grid-column: 1/span 3;
        grid-row: 4/5;
        padding-bottom: 45px;
    }
    
    .imgEnvasesP{
        grid-column: 1/span 3;
        grid-row: 3/span 5;
    }

    .textVasosC{
        grid-column: 1/span 3;
        grid-row: 6/7;
        padding-bottom: 45px;
    }
    
    .imgVasosC{
        grid-column: 1/span 3;
        grid-row: 5/span 7;
        background-position: bottom;
    }

    .textBolsas{
        grid-column: 1/span 3;
        grid-row: 8/9;
        padding-bottom: 45px;
    }
    
    .imgBolsas{
        grid-column: 1/span 3;
        grid-row: 7/span 9;
        background-position: center;
    }
}


@media only screen and (min-width: 767px) and (max-width: 992px) {

    .bannerIndex{
        margin-top: 120px;
        height: 100%;
    }
    .carousel-caption{
        position: relative;
        padding-top:0;
        text-align: start;
        margin-top: -210px;
        width: 700px;
        height: 200px;
    }

    .carousel-control-next, .carousel-control-prev{
        margin-top: 260px;
    }

    /*Conócenos*/
    .anclaInvisible{
        top: 520px;
    }

    .divConocenos img{
        display: none;
    }

    /*Footer*/
    /*icono whatsapp-----------------------------------------------*/
    .iconoFlotante img{
        top: 550px;
    }

    /*Servicios*/
    .sectServicios{
        grid-template-rows: repeat(4, 200px);
        margin-top: 120px;
    }

    .sectServicios p{
        font-size: 1.5rem;
    }
    
    .sectServicios h2{
        font-size: 2rem !important;
    }

    .textVasosP, .textEnvasesP, .textVasosC, .textBolsas{
        margin-left: 25px;
        padding-bottom: 65px
    }
}

@media only screen and (min-width: 992px){
    /*icono whatsapp-----------------------------------------------*/
    .iconoFlotante img{
        top: 550px;
    }

    .bannerIndex{
        margin-top: 120px;
        height: 600px;
    }
    .carousel-caption{
        width: 800px;
    }
}