@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap');
/*font-family: 'Lato', sans-serif;*/

/*selector universal*/
*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
    a{
        text-decoration: none;
    }
}

@import "partials/variables";
@import "partials/headerFooter";
@import "partials/index";
@import "partials/servicios";
@import "partials/cotiza";
@import "partials/disenoCatalogo";
@import "partials/disenoPersonalizado";
@import "partials/contactanos";
@import "partials/responsive";