/*cotizar catálogo*/
.sectCotizarCatalogo{
    margin-top: 120px;
    background-image: linear-gradient(to bottom, #fe88c9, #d88ee1, #a795ee, #6b9bee, #009ee2);
    height: 1000px;

    .divCotizarCatalogo1{
        background-color: #fff;
        margin-top: 30px;
        width: 900px;
        height: 600px;

        .imgCotizarCatalogo{
            img{
                width: 100%;
                padding-left: 20px;
                padding-top: 60px;
            }
        }

        .divContInfoCatalg{
            width: 500px;
            height: 500px;

            h2{
                margin-top: 20px;
                text-transform: uppercase;
                font-size: 2rem;
            }
    
            p{
                text-transform: uppercase;
                font-size: 1.4rem;
                font-weight: bold;
                margin-top: 20px;
            }
    
            .materialCatalogo{
                text-transform: uppercase;
                font-size: 1.5rem;
                font-weight: 500;
        
                .form-check-input:checked {
                    background-color: #E5007E;
                    border-color: #E5007E;
                    box-shadow: none;
                }
                
                .form-check-input:active {
                    background-color: #ffbde1;
                    border-color: #ffbde1;
                    box-shadow: none;
                }
            }
        
            .form-check-inline {
                margin-right: 3rem;
            }
        
            .tamanoCatalogo{
                width: 320px;
                
                .form-select{
                    text-transform: uppercase;
                    font-size: 1.5rem;
                }

                .form-select:focus {
                    border-color: #ffbde1;
                    box-shadow: 0 0 0 0.25rem rgba(255,189,255,.25);
                }

                .form-select-value:hover {
                    background-color: #E5007E;
                }

                .selectorTamano{
                    option:hover{
                        background-color: #E5007E;
                    }
                }
            }

            .form-control:focus {
                border-color: #ffbde1;
                box-shadow: 0 0 0 0.25rem rgba(255,189,255,.25);
            }
        }

        .divCotizarCatalogo2{
            .itemsCatalogo{

                img{
                    width: 60px;
                }
            }
        }
    }
    
    .datosCotizar{
        margin-top: 20px;
        width: 900px;
        height: 300px;
        p{
            text-transform: uppercase;
            font-size: 1.4rem;
            font-weight: bold;
        }

        .formPadding{
            padding-right: 20px;
        }

        form{
            .formulario{
                width: 400px;

                .form-control:focus {
                    border-color: #ffbde1;
                    box-shadow: 0 0 0 0.25rem rgba(255,189,255,.25);
                }

                .form-text{
                    font-size: 1.2rem;
                }

                label{
                    text-transform: uppercase;
                    font-size: 1.1rem;
                    font-weight: 500;
                }

                textarea{
                    resize: none;
                    height: 120px;
                }
            }

            .botonEnviar{
                @include botonCyan;
            }
            
            .botonEnviar:hover{
                background-color: transparent;
                border: 2px solid #E5007E;
                color: #E5007E;
            }
        }
    }
}
