/*responsive*/
@media only screen and (max-width: 479px){
    /*logo*/
        .navPropio{
            .menuContenedor{
                img{
                    width: 220px;
                }
            }
        }

    /*Banner index*/
    .bannerCarrusel{
        .carousel{
            padding: 0;
        }

        .bannerIndex{
            margin-top: 100px;
            height: 100%;

            img{
                object-fit: cover;
                height: 400px;
            }
            
            .carousel-caption{
                padding-top:0;
                text-align: start;
                margin-top: -200px;
                width: 100px;
                padding-bottom: 50px;

                h1{
                    font-size: 2.5rem !important;
                    line-height: 2.6rem;
                }
    
                h2{
                    font-size: 2.5rem !important;
                    line-height: 2.6rem;
                }
        
                .textoResaltado{
                    font-size: 1.8rem;
                    width: 300px;
                }
            }
        }

        .carousel-control-prev{
            margin-top: 200px;
        }

        .carousel-control-next{
            margin-top: 200px;
        }

        .anclaInvisible{
            top: 360px;
        }
    }

    /*Conócenos*/
    .sectionConocenos{
        margin-top: 20px;

        .divConocenos{
            img{
                display: none;
            }
        }
    }

    /*Portafolio*/
    .bbb_container {
        top: 0;
    }

    /*Footer*/
    /*icono whatsapp*/
    .iconoFlotante{
        img{
            top: 550px;
        }
    }
    /*información footer*/
    .footerContainer{
        grid-template-columns: 60%;

        .menuFooter{
            display: none;
        }

        .redesFooter{
            grid-column: 1/2;
            grid-row: 1/2;
            align-self: end;
            justify-self: center;
        }

        .footerCopy{
            grid-column: 1/2;
            grid-row: 2/3;
            align-self: start;
            justify-self: center;
        }
    }

    /*Servicios*/
    .sectServicios{
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(8, 200px);
        margin-top: 110px;
    
        .imgVasosP{
            grid-column: 1/span 3;
            grid-row: 1/span 3;
            background-position: top;
        }

        .textVasosP{
            grid-column: 1/span 3;
            grid-row: 2/3;
            padding-bottom: 50px;

            p{
                font-size: 1.3rem;
            }
            
            h2{
                font-size: 2rem !important;
            }
        }

        .imgEnvasesP{
            grid-column: 1/span 3;
            grid-row: 3/span 5;
            background-size: 100%;
            background-position: top;
        }

        .textEnvasesP{
            grid-column: 1/span 3;
            grid-row: 4/5;
            padding-bottom: 50px;

            p{
                font-size: 1.3rem;
            }
            
            h2{
                font-size: 2rem !important;
            }
        }

        .imgVasosC{
            grid-column: 1/span 3;
            grid-row: 5/span 7;
            background-size: 180%;
            background-position: top;
        }

        .textVasosC{
            grid-column: 1/span 3;
            grid-row: 6/7;
            padding-bottom: 50px;

            p{
                font-size: 1.3rem;
            }
            
            h2{
                font-size: 2rem !important;
            }
        }

        .imgBolsas{
            grid-column: 1/span 3;
            grid-row: 7/span 9;
            background-position: center;
        }

        .textBolsas{
            grid-column: 1/span 3;
            grid-row: 8/9;
            padding-bottom: 50px;

            p{
                font-size: 1.3rem;
            }
            
            h2{
                font-size: 2rem !important;
            }
        }
    }

    /*cotizar catálogo*/
    .sectCotizarCatalogo{
        height: 1150px;

        .divCotizarCatalogo1{
            width: 100%;
            height: 600px;

            .imgCotizarCatalogo{
                img{
                    display: none;
                }
            }

            .divContInfoCatalg{
                h2{
                    margin-top: 90px;
                }
            }
        } 

        .datosCotizar{
            width: 100%;
            height: 500px;

            form{
                .formulario{
                    width: 350px;
                }
            }
        } 
    }

    /*cotizar personalizado*/
    .sectCotizarPersonalizado{
        grid-template-columns: 5% 5% 80% 5% 5%;
        grid-template-rows: 50px 450px 30px 380px 30px 480px 30px;
        margin-top: 120px;

        .bannerCotizarPersonalizado{
            grid-column: 1/span 6;
            grid-row: 1/span 8;
        }

        .fondoDescripcion {
            grid-column: 2/span 3;
            grid-row: 2/3;
        }

        .divDescripcion {
            grid-column: 3/4;
            grid-row: 2/3;
            margin-left: 0;
            width: 100%;
        }

        .formularioPersonalizado {
            grid-column: 2/span 3;
            grid-row: 4/5;
        }

        .datosCotizar {
            grid-column: 2/span 3;
            grid-row: 6/7;
            padding-left: 15px;

            form{
                .formulario {
                    width: 100%;
                }
            }
        }
    }

    /*contacto*/
    .divBannerConoc{
        background-size: cover;
        height: 550px;

        .divDatosConoc{
            width: 90%;
        }

        iframe{
            width: 100%;
        }
    }
}

@media only screen and (min-width: 479px) and (max-width: 767px) {

    /*Banner index*/
    .bannerCarrusel {
        .bannerIndex {
            margin-top: 90px;
            height: 100%;

            .carousel-caption {
                position: relative;
                padding-top: 0;
                text-align: start;
                margin-top: -210px;
                width: 400px;
                height: 200px;

                h1 {
                    font-size: 3rem;
                    line-height: 3.3rem;
                }

                h2 {
                    font-size: 3rem;
                    line-height: 3.3rem;
                }

                .textoResaltado {
                    font-size: 2rem;
                }
            }
        }

        .carousel-control-prev{
            margin-top: 150px;
        }

        .carousel-control-next{
            margin-top: 150px;
        }

        .anclaInvisible{
            top: 360px;
        }
    }

    /*Conócenos*/
    .sectionConocenos{
        margin-top: 20px;

        .divConocenos img{
            display: none;
        }
    }

    /*Portafolio*/
    .bbb_container {
        top: 0;
    }

    /*Footer*/
    /*icono whatsapp*/
    .iconoFlotante img{
        top: 550px;
    }

    .footerContainer{
        grid-template-columns: 25% 60% 10%;
    }

    /*Servicios*/
    .sectServicios{
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(8, 200px);
        margin-top: 110px;
    
        .imgVasosP{
            grid-column: 1/span 3;
            grid-row: 1/span 3;
            background-position: top;
        }

        .textVasosP{
            grid-column: 1/span 3;
            grid-row: 2/3;
            padding-bottom: 50px;

            p{
                font-size: 1.3rem;
            }
            
            h2{
                font-size: 2rem !important;
            }
        }

        .imgEnvasesP{
            grid-column: 1/span 3;
            grid-row: 3/span 5;
            background-size: 100%;
            background-position: top;
        }

        .textEnvasesP{
            grid-column: 1/span 3;
            grid-row: 4/5;
            padding-bottom: 50px;

            p{
                font-size: 1.3rem;
            }
            
            h2{
                font-size: 2rem !important;
            }
        }

        .imgVasosC{
            grid-column: 1/span 3;
            grid-row: 5/span 7;
            background-size: 180%;
            background-position: top;
        }

        .textVasosC{
            grid-column: 1/span 3;
            grid-row: 6/7;
            padding-bottom: 50px;

            p{
                font-size: 1.3rem;
            }
            
            h2{
                font-size: 2rem !important;
            }
        }

        .imgBolsas{
            grid-column: 1/span 3;
            grid-row: 7/span 9;
            background-position: center;
        }

        .textBolsas{
            grid-column: 1/span 3;
            grid-row: 8/9;
            padding-bottom: 50px;

            p{
                font-size: 1.3rem;
            }
            
            h2{
                font-size: 2rem !important;
            }
        }
    }

    /*cotizar catálogo*/
    .sectCotizarCatalogo{
        height: 1150px;

        .divCotizarCatalogo1{
            width: 500px;
            height: 600px;

            .imgCotizarCatalogo{
                img{
                    display: none;
                }
            }

            .divContInfoCatalg{
                h2{
                    margin-top: 90px;
                }
            }
        } 

        .datosCotizar{
            width: 500px;
            height: 500px;

            form{
                .formulario{
                    width: 350px;
                }
            }
        } 
    }

    /*cotizar personalizado*/
    .sectCotizarPersonalizado{
        grid-template-columns: 5% 5% 80% 5% 5%;
        grid-template-rows: 50px 400px 30px 380px 30px 480px 30px;
        margin-top: 120px;

        .bannerCotizarPersonalizado{
            grid-column: 1/span 6;
            grid-row: 1/span 8;
        }

        .fondoDescripcion {
            grid-column: 2/span 3;
            grid-row: 2/3;
        }

        .divDescripcion {
            grid-column: 3/4;
            grid-row: 2/3;
            margin-left: 0;
            width: 100%;
        }

        .formularioPersonalizado {
            grid-column: 2/span 3;
            grid-row: 4/5;
        }

        .datosCotizar {
            grid-column: 2/span 3;
            grid-row: 6/7;
            padding-left: 15px;

            .formulario {
                width: 200px;
            }
        }
    }

    /*contacto*/
    .divBannerConoc{
        background-size: cover;
        height: 600px;

        .divDatosConoc{
            margin-left: 30px;
            width: 450px;
        }

        iframe{
            width: 100%;
        }
    }
}

@media only screen and (min-width: 767px) and (max-width: 992px){
    .bannerCarrusel{
        .bannerIndex{
            margin-top: 120px;
            height: 100%;

            .carousel-caption{
                position: relative;
                padding-top:0;
                text-align: start;
                margin-top: -210px;
                width: 700px;
                height: 200px;
            }
        }

        .carousel-control-prev{
            margin-top: 260px;
        }

        .carousel-control-next{
            margin-top: 260px;
        }

        .anclaInvisible{
            top: 520px;
        }
    }

    /*conócenos*/
    .divConocenos img{
        display: none;
    }

    /*Footer*/
    /*icono whatsapp*/
    .iconoFlotante img{
        top: 550px;
    }

    /*Servicios*/
    .sectServicios{
        grid-template-rows: repeat(4, 200px);
        margin-top: 120px;

        p{
            font-size: 1.5rem;
        }

        h2{
            font-size: 2rem !important;
        }

        .textVasosP{
            margin-left: 25px;
            padding-bottom: 65px;
        }

        .textEnvasesP{
            margin-left: 25px;
            padding-bottom: 65px;
        }

        .textVasosC{
            margin-left: 25px;
            padding-bottom: 65px;
        }

        .textBolsas{
            margin-left: 25px;
            padding-bottom: 65px;
        }
    }

    /*cotizar catálogo*/
    .sectCotizarCatalogo{
        height: 950px;

        .divCotizarCatalogo1{
            width: 720px;
            height: 600px;

            .divContInfoCatalg{
                width: 420px;

                h2{
                    margin-top: 90px;
                }
            }

        .imgCotizarCatalogo{
            img{
                width: 300px;
                padding-top: 20px;
            }
        }
        } 

        .datosCotizar{
            width: 720px;
            height: 300px;

            form{
                .formulario{
                    width: 300px;
                }
            }
        } 
    }

    /*cotizar personalizado*/
    .sectCotizarPersonalizado{
        grid-template-columns: 5% repeat(2, 45%) 5%;
        grid-template-rows: 50px 470px 30px 300px 50px;
        margin-top: 120px;

        .bannerCotizarPersonalizado{
            grid-column: 1/span 4;
            grid-row: 1/span 5;
        }

        .fondoDescripcion {
            grid-column: 2/3;
            grid-row: 2/3;
        }

        .divDescripcion {
            grid-column: 2/3;
            grid-row: 2/3;
            margin-left: 10%;
            width: 80%;
        }

        .formularioPersonalizado {
            grid-column: 3/4;
            grid-row: 2/3;

            .tamanoPersonal{
                width: 80%;
            }

            .cantidad{
                width: 100%;
            }

            .form-range{
                width: 80%;
            }
        }

        .datosCotizar {
            grid-column: 2/4;
            grid-row: 4/5;
            width: 100%;
            padding-left: 10px;
            padding-right: 10px;

            .formulario {
                width: 250px;
            }
        }
    }

    /*contacto*/
    .divBannerConoc{
        background-size: cover;
        height: 800px;

        .divDatosConoc{
            margin-left: 30px;
            width: 600px;
        }

        iframe{
            width: 100%;
        }
    }
}

@media only screen and (min-width: 993px){
    /*Footer*/
    /*icono whatsapp*/
    .iconoFlotante{
        img{
            top: 550px;
        }
    }

    /*Banner index*/
    .bannerCarrusel{
        .bannerIndex{
            margin-top: 120px;
            height: 600px;
            .carousel-caption{
                width: 800px;
            }
        }
    }

    /*contacto*/
    .divBannerConoc{
        background-size: cover;
        height: 800px;

        .divDatosConoc{
            margin-left: 30px;
            width: 600px;
        }

        iframe{
            width: 100%;
        }
    }
}