/*servicios*/
.sectServicios {
    display: grid;
    grid-template-columns: 40% 10% 40% 10%;
    grid-template-rows: repeat(4, 350px);
    margin-top: 120px;

    .imgVasosP {
        grid-column: 1/span 3;
        grid-row: 1/span 3;
        background-image: url(../recursos/servicios-vasos-plasticos.jpg);
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        transition: background-image 0.3s ease;
    }

    .textVasosP {
        grid-column: 1/2;
        grid-row: 2/3;
        align-self: center;
        margin-left: 50px;

        .btn-primary {
            --bs-btn-bg: #E5007E;
            --bs-btn-border-color: #E5007E;
            --bs-btn-hover-bg: transparent;
            --bs-btn-hover-border-color: #fff;
            --bs-btn-active-color: #fff;
            --bs-btn-active-bg: #E5007E;
            --bs-btn-active-border-color: #E5007E;
            padding-top: 10px;
            padding-left: 10px;

            .iconoVerMas {
                width: 16px;
                color: #fff;
                padding-bottom: 3px;
            }
        }

        .botonVer{
            font-size: 1.2rem;
            text-transform: uppercase;
            font-weight: 700;
            color: #fff;
            padding-bottom: 0px;
        }

        h1 {
            font-size: 2.5rem;
            text-transform: uppercase;
            color: #fff;
        }

        h2 {
            font-size: 2.5rem;
            text-transform: uppercase;
            color: #fff;
        }

        .descripcionServic {
            .card-body{
                background-color: transparent;

                p {
                    font-size: 1.7rem;
                    color: #fff;
                }
            }
        }
    }

    .imgEnvasesP {
        grid-column: 3/span 5;
        grid-row: 1/span 3;
        background-image: url(../recursos/servicios-envases.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .textEnvasesP {
        grid-column: 3/4;
        grid-row: 2/3;
        align-self: center;
        margin-left: 50px;

        .btn-primary {
            --bs-btn-bg: #E5007E;
            --bs-btn-border-color: #E5007E;
            --bs-btn-hover-bg: transparent;
            --bs-btn-hover-border-color: #fff;
            --bs-btn-active-color: #fff;
            --bs-btn-active-bg: #E5007E;
            --bs-btn-active-border-color: #E5007E;
            padding-top: 10px;
            padding-left: 10px;

            .iconoVerMas {
                width: 16px;
                color: #fff;
                padding-bottom: 3px;
            }
        }

        .botonVer{
            font-size: 1.2rem;
            text-transform: uppercase;
            font-weight: 700;
            color: #fff;
            padding-bottom: 0px;
        }

        h2 {
            font-size: 2.5rem;
            text-transform: uppercase;
            color: #fff;
        }

        .descripcionServic {
            .card-body{
                background-color: transparent;

                p {
                    font-size: 1.7rem;
                    color: #fff;
                }
            }
        }
    }

    .imgVasosC {
        grid-column: 1/span 3;
        grid-row: 3/span 5;
        background-image: url(../recursos/servicios-vasos-carton.jpg);
        background-size: 150%;
        background-position: center;
        background-repeat: no-repeat;
    }

    .textVasosC {
        grid-column: 1/2;
        grid-row: 4/5;
        align-self: center;
        margin-left: 50px;

        .btn-primary {
            --bs-btn-bg: #E5007E;
            --bs-btn-border-color: #E5007E;
            --bs-btn-hover-bg: transparent;
            --bs-btn-hover-border-color: #fff;
            --bs-btn-active-color: #fff;
            --bs-btn-active-bg: #E5007E;
            --bs-btn-active-border-color: #E5007E;
            padding-top: 10px;
            padding-left: 10px;

            .iconoVerMas {
                width: 16px;
                color: #fff;
                padding-bottom: 3px;
            }
        }

        .botonVer{
            font-size: 1.2rem;
            text-transform: uppercase;
            font-weight: 700;
            color: #fff;
            padding-bottom: 0px;
        }

        h2 {
            font-size: 2.5rem;
            text-transform: uppercase;
            color: #fff;
        }

        .descripcionServic {
            .card-body{
                background-color: transparent;

                p {
                    font-size: 1.7rem;
                    color: #fff;
                }
            }
        }
    }

    .imgBolsas {
        grid-column: 3/span 5;
        grid-row: 3/span 5;
        background-image: url(../recursos/servicios-bolsas-tnt.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .textBolsas {
        grid-column: 3/4;
        grid-row: 4/5;
        align-self: center;
        margin-left: 50px;

        .btn-primary {
            --bs-btn-bg: #E5007E;
            --bs-btn-border-color: #E5007E;
            --bs-btn-hover-bg: transparent;
            --bs-btn-hover-border-color: #fff;
            --bs-btn-active-color: #fff;
            --bs-btn-active-bg: #E5007E;
            --bs-btn-active-border-color: #E5007E;
            padding-top: 10px;
            padding-left: 10px;

            .iconoVerMas {
                width: 16px;
                color: #fff;
                padding-bottom: 3px;
            }
        }

        .botonVer{
            font-size: 1.2rem;
            text-transform: uppercase;
            font-weight: 700;
            color: #fff;
            padding-bottom: 0px;
        }

        h2 {
            font-size: 2.5rem;
            text-transform: uppercase;
            color: #fff;
        }

        .descripcionServic {
            .card-body{
                background-color: transparent;

                p {
                    font-size: 1.7rem;
                    color: #fff;
                }
            }
        }
    }
}